@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(37, 83, 18);
  color: rgb(79, 11, 100);
  text-align: center;
  margin-top: 100px;
}
#view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#add-buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-success{
  margin: 5px;
}
#form-container{
  color: white;
}
.card{
  margin-bottom: 15px;
}
#form-container{
  display:block;
}
#submitCardForm {
  width: 1000px;
  display: inline-block;
  text-align: center;
}
.btn-primary {
  margin: 10px;
}
#navbarNav {
  width: 100%;
  display: flex;
 flex-wrap: wrap;
  }
#logout-button {
   margin-left: 850px;
  }
  #sort-container{
    margin-bottom: 25px;
  }